<div *ngIf="!(events | async)" style="position: absolute;top: 50%; left: 50%; transform: translate(-50%, -50%);">
  <span class="spinner spinner-inline">
    Loading Events...
  </span>
  <span>
    Loading Events...
  </span>
</div>
<div class="row">
  <div *ngFor="let e of events | async" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <a [routerLink]="[e.$key,'register']" class="card clickable">
      <div class="card-img">
        <img [src]="e.cardImage" />
      </div>
      <div class="card-block">
        <div class="card-title">
          {{e.name}}
        </div>
        <p class="card-text">
          <clr-icon shape="date" class="is-info"></clr-icon> {{e.date | date}}<br>
          <clr-icon shape="map" class="is-info"></clr-icon> {{e.location}}
        </p>
        <p class="card-text">
          {{ e.description | truncate : 235 }}
        </p>
      </div>
    </a>
  </div>
</div>