<clr-main-container>
  <clr-header class="header header-2">
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">Freevents</span>
      </a>
    </div>
    <div class="header-nav">
      <a [routerLink]="['/events']" routerLinkActive="active" class="nav-link"><span class="nav-text">Events</span></a>
      <a href="..." class="nav-link"><span class="nav-text">Interactive Analytics</span></a>
    </div>
  </clr-header>
  <nav *ngIf="false" class="sub-nav" [clr-nav-level]="1">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/about']" routerLinkActive="active">About</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>